Web References/SaraWebService/SrvShahrsaziGhom.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biz.SaraServices.MessageContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biz.SaraServices.MessageContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://esup.qom.ir/SrvQom/Services/SrvShahrsaziGhom.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BIZ.SA" />
  <xs:complexType name="ClsSaraSharsaziMessageGhom">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApartmentArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AyanPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Block" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingKind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingStep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CI_ShahrsaziArchiveKind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIZ.SA" minOccurs="0" name="ErrorResult" nillable="true" type="q1:ClsErrorResult" />
      <xs:element minOccurs="0" name="EumShahrsaziArchiveGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfrustractureArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NosaziCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owners" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathWidth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PowerSubscription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roof" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoofCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sazeh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToftArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsSaraSharsaziMessageGhom" nillable="true" type="tns:ClsSaraSharsaziMessageGhom" />
  <xs:complexType name="ClsSaraFinanceMessageGhom">
    <xs:sequence>
      <xs:element minOccurs="0" name="AyanPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Block" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictPrice" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIZ.SA" minOccurs="0" name="ErrorResult" nillable="true" type="q2:ClsErrorResult" />
      <xs:element minOccurs="0" name="NosaziCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsSaraFinanceMessageGhom" nillable="true" type="tns:ClsSaraFinanceMessageGhom" />
</xs:schema>