GreenSpace/Web References/SaraWebService/SrvShahrsaziGhom.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvShahrsaziGhom" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://esup.qom.ir/SrvQom/Services/SrvShahrsaziGhom.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://esup.qom.ir/SrvQom/Services/SrvShahrsaziGhom.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://esup.qom.ir/SrvQom/Services/SrvShahrsaziGhom.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biz.SaraServices.MessageContract" />
      <xsd:import schemaLocation="http://esup.qom.ir/SrvQom/Services/SrvShahrsaziGhom.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BIZ.SA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvShahrsaziGhom_GetSaraShahrsaziGhomInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaraShahrsaziGhomInfo" />
  </wsdl:message>
  <wsdl:message name="ISrvShahrsaziGhom_GetSaraShahrsaziGhomInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaraShahrsaziGhomInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvShahrsaziGhom_GetSaraFinanceGhomInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaraFinanceGhomInfo" />
  </wsdl:message>
  <wsdl:message name="ISrvShahrsaziGhom_GetSaraFinanceGhomInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaraFinanceGhomInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvShahrsaziGhom_GetAyanPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAyanPrice" />
  </wsdl:message>
  <wsdl:message name="ISrvShahrsaziGhom_GetAyanPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAyanPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvShahrsaziGhom">
    <wsdl:operation name="GetSaraShahrsaziGhomInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvShahrsaziGhom/GetSaraShahrsaziGhomInfo" message="tns:ISrvShahrsaziGhom_GetSaraShahrsaziGhomInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvShahrsaziGhom/GetSaraShahrsaziGhomInfoResponse" message="tns:ISrvShahrsaziGhom_GetSaraShahrsaziGhomInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaraFinanceGhomInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvShahrsaziGhom/GetSaraFinanceGhomInfo" message="tns:ISrvShahrsaziGhom_GetSaraFinanceGhomInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvShahrsaziGhom/GetSaraFinanceGhomInfoResponse" message="tns:ISrvShahrsaziGhom_GetSaraFinanceGhomInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAyanPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvShahrsaziGhom/GetAyanPrice" message="tns:ISrvShahrsaziGhom_GetAyanPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvShahrsaziGhom/GetAyanPriceResponse" message="tns:ISrvShahrsaziGhom_GetAyanPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISrvShahrsaziGhom" type="tns:ISrvShahrsaziGhom">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSaraShahrsaziGhomInfo">
      <soap:operation soapAction="http://tempuri.org/ISrvShahrsaziGhom/GetSaraShahrsaziGhomInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaraFinanceGhomInfo">
      <soap:operation soapAction="http://tempuri.org/ISrvShahrsaziGhom/GetSaraFinanceGhomInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAyanPrice">
      <soap:operation soapAction="http://tempuri.org/ISrvShahrsaziGhom/GetAyanPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvShahrsaziGhom">
    <wsdl:port name="BasicHttpBinding_ISrvShahrsaziGhom" binding="tns:BasicHttpBinding_ISrvShahrsaziGhom">
      <soap:address location="http://esup.qom.ir/SrvQom/Services/SrvShahrsaziGhom.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>